<div class="contact">

	<div class="row">
		<div class="col-sm-4">
			<img src="images/showxl_13.png" height="40" width="80" />
		</div>
		<div class="col-sm-8">


			<div class="maptext">
				<label> My Location is :</label>
				<!--<label ng-model="address.full_address" id="full_address"></label>-->
				<label ng-model="address.city" id="city"></label>,
				<label ng-model="address.country" id="country"></label>
			</div>
		</div>
	</div>
	<br>

	<div id="map-canvas"></div>

	
<!--<map ng-transclude class='google-map' center='map.center' zoom='map.zoom'> 
   				 <marker position="marker.position"  events="marker.events"></marker>
  			</map>-->
<br>
<br>

	<div class="row">

		<div class="form-group">
			<center> <a href="/profile" ng-click="CreateUser()" class="btn but">ENTER THE CHAT </a> </center>
		</div>
				<!--<div class="form-group">
			<center> <a href="#" ng-click="CreateUsers()" class="btn but">ENTER THE CHAT </a> </center>
		</div>-->
	</div>
 </div>